# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.egg
venv/
.env

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log

# dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml

# Lambda build artefacts
dist/*.zip

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
